{% extends 'band/base.html' %}
{% load static %}

{% block content %}

<style>
    .circular-image {
        display: inline-block;
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular-image img {
        width: 100%;
        height: auto;
    }

    .circular-image .name {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 18px;
    }
</style>
    
    <h1 style="color: white;">About Us</h1>
    <h5 style="color: rgb(233, 220, 220);">
        Over the last half-decade, Imagine Dragons have emerged as one of the biggest and most compelling rock bands in the world. 
        Within a year of its June 2017 release, their third studio album EVOLVE went double-platinum, yielding three back-to-back #1 singles: “Believer,” “Thunder,” and “Whatever It Takes.”  
        In the midst of their Evolve World Tour—a 116 date trek that sold over 1.7 million tickets worldwide—the multi-platinum, Grammy Award-winning band began working on their follow-up, and ended up creating their most dynamic work to date.
    </h5>

    <h5 style="color: rgb(233, 220, 220);">
        Conceived as a sister album to Evolve, Origins continues its predecessor’s sonic explorations while honoring Imagine Dragons’ alt-rock heritage. 
        “It’s about seeking new ground but also appreciating your roots,” says lead vocalist Dan Reynolds, whose bandmates include guitarist Wayne Sermon, bassist Ben McKee, and drummer Daniel Platzman. 
        “When we create, we create with no boundaries, no rules. We find it thrilling to make music that feels different and new to us.”
    </h5>

    <h5 style="color: rgb(233, 220, 220);">
        Self-identifying as “genreless,” Imagine Dragons joined forces with producers like Joel Little (Lorde, Khalid), Mattman & Robin (Selena Gomez, Carly Rae Jepsen), and John Hill (Florence + the Machine, Phantogram) to sculpt the kaleidoscopic and kinetically charged sound of Origins. 
        With the band artfully blending rock, hip-hop, pop, and folk, the album is etched in inventive textures that never distract from an essential element of Imagine Dragons: lyrics that speak to a sometimes-painful self-awareness, but ultimately uplift and inspire.
    </h5>

    <h5 style="color: rgb(233, 220, 220);">
        On Origins’ powerhouse lead single “Natural”—a track that topped the Alternative Songs for five straight weeks, and broke the all-time spin record on the alternative radio chart with over 4K spins in a single week—Imagine Dragons offer a meditation on self-discovery, 
        sharing the message that “when you truly learn to love yourself, judging eyes and hateful words become meaningless,” as Reynolds puts it. 
        With its title nodding to Charles Darwin’s On the Origin of Species and Imagine Dragons’ fascination with evolutionary biology, Origins also examines how technological advancement has altered the human experience. 
        Featured as the end-credit song in the Walt Disney Animation Studios movie Ralph Breaks the Internet, the fantastically fast-paced “Zero” looks at isolation in the social media age but slyly unfolds as an anthem of self-acceptance. 
        Meanwhile, the fuzzed-out and frenetic “Digital” captures a certain existential frustration, yet hints at Reynolds’s hope for greater open-heartedness in younger generations.
    </h5>

    <h5 style="color: rgb(233, 220, 220);">
        Elsewhere on Origins, the band reflects on the many dimensions of romantic love, embodying everything from the restless intensity of “Boomerang” to the dreamy melancholy of “Cool Out” to the epic balladry of “Bad Liar.” 
        And on the soulful and stomping “West Coast,” Reynolds muses on a “fear of neglecting relationships due to the career path I chose,” gently transforming that fear into a glorious piece of folk-pop.
    </h5>

    <h5 style="color: rgb(233, 220, 220);">
        One of the most powerful moments on Origins, the slow-burning “Birds” echoes a bittersweet sense of closure, an element that’s especially meaningful to Reynolds. 
        “When working with Joel Little on ‘Birds,’ I had to walk out of the room for a while to process the catharsis that came from writing a sad truth,” he says. 
        “It’s one of my favorite songs on the record, because I reflect on that moment that was captured, and I’m able to relive it with each listen.”
    </h5>

    <h5 style="color: rgb(233, 220, 220);">
        Formed in 2009, Imagine Dragons first revealed their limitless passion and genre-bending sensibilities with a series of independently released EPs that quickly earned a grassroots following. 
        After hitmaking producer Alex Da Kid signed them to KIDinaKORNER/Interscope, the band made their major-label debut with Continued Silence, a 2012 EP featuring the double-platinum breakthrough single “It’s Time.” 
        With their full-length debut Night Visions arriving later that year, Imagine Dragons found themselves on a skyward trajectory that saw the album debut at No. 2 on the Billboard 200, selling more than five million copies worldwide. 
        In addition, Night Visions’ diamond-selling single “Radioactive” hit No. 1 on the Billboard Rock chart and won Best Rock Performance at the 2014 Grammy Awards. 
        From there, Imagine Dragons went on to see their 2015 sophomore album Smoke + Mirrors debut at No. 1 on the Billboard 200. 
        Released in June 2017, their third album EVOLVE was nominated for a Grammy for Best Pop Vocal Album and spawned three 
        No. 1 Alternative radio hits: “Believer,” which topped the Alternative radio chart for 12 weeks and 
        also climbed to No. 3 at Top 40 radio; “Thunder,” which hit No. 1 at Top 40 and  scored a Best Pop Duo/Group Performance Grammy nomination; and “Whatever It Takes,” which was Top 5 at Top 40 radio.
    </h5>

    <h5 style="color: rgb(233, 220, 220);">
        Noting that the past year has brought its share of “high highs and low lows,” Reynolds partly perceives Origins as a document of those triumphs and troubles. 
        “I don’t believe in regrets, but in accepting my path where I am each day,” he says. 
        “I wrote in the moment, and this record captures a lot of visceral feelings for me—some of it lamenting loss, some celebrating life. 
        I can’t help but write from an emotional and vulnerable place, as it’s the only place of inspiration for me that’s real.”
    </h5>
    
    <h2 style="color: rgb(233, 220, 220);">Our Band members and their roles : </h2>

    <div class="circular-image">
        <img src="{% static 'images/dan.jpg' %}" alt="Dan Reynolds">
        <div class="name">Dan Reynolds <br>-Singer-</div>
    </div>

    <div class="circular-image">
        <img src="{% static 'images/wayne.jpg' %}" alt="Wayne Sermon">
        <div class="name">Wayne Sermon <br>-Electric Guitar-</div>
    </div>

    <div class="circular-image">
        <img src="{% static 'images/Ben.jpg' %}" alt="Ben Mckee">
        <div class="name">Ben Mckee <br>-Bass Guitar-</div>
    </div>

    <div class="circular-image">
        <img src="{% static 'images/daniel2.jpg' %}" alt="Daniel Platzman">
        <div class="name">Daniel Platzman <br>-Percussion-</div>
    </div>

    

{% endblock %}